
<table>
	<tr class="double">
		<th>DISPLAY NAME (to publish with story)</th>
		<th>UPLOAD A PHOTO</th>
	</tr>	
	<tr class="double">
		<td><%= f.text_field :name, :class => "text_field" %></td>
		<td><%= f.file_field :picture %></td>
	</tr>	
	<tr class="spacer"></tr>	
	<tr>
		<th colspan="2">WHEN I CLOSE MY EYES I'M WEARING MY TADASHI DRESS TO...</th>
	</tr>	
	<tr>
		<td colspan="2"><%= f.text_area :anecdote %></td> 
	</tr>	
</table>



<div id="customer-info">
	<table id="table-customer-info">
		<tr>
			<th colspan="2">FIRST NAME *</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :first_name, :class => "text_field" %></td>
		</tr>	
		<tr class="spacer"></tr>	
		<tr>
			<th colspan="2">LAST NAME *</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :last_name, :class => "text_field" %></td>
		</tr>	
		<tr class="spacer"></tr>	
		<tr class="spacer"></tr>	
		<tr>
			<th colspan="2">EMAIL ADDRESS *</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :email_address, :class => "text_field" %></td>
		</tr>		
		<tr id="customer-subscribe">
			<td class="notes">* Required Fields	</td> 
			<td><span class="notes-subscribe">SUBSCRIBE TO EMAIL:</span><%= f.check_box :subscribe %></td>
		</tr>	
		<tr class="spacer"></tr>	
		<tr>
			<td></td>
			<td><%= link_to "PRIVACY POLICY", "#" %></td>
		</tr>	
	</table>	
</div>	


<div id="mailing-address">
	<table id="table-mailing-address">
		<tr colspan="2">
			<th>STREET ADDRESS</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :street_address, :class => "text_field" %></td>
		</tr>		
		<tr class="spacer"></tr>	
		<tr>
			<td>CITY</td>
			<td>STATE</td>
		</tr>	
		<tr>
			<td><%= f.text_field :city, :class => "text_field" %></td>
			<td><%= f.text_field :state, :class => "text_field" %></td>			
		</tr>	
		<tr class="spacer"></tr>	
		<tr>
			<td>ZIP CODE</td>
			<td></td>			
		</tr>	
		<tr>
			<td><%= f.text_field :zip, :class => "text_field" %></td>
			<td></td>			
		</tr>	
		<tr class="spacer"></tr>	
		<tr>
			<td></td>
			<td><%= submit_tag "Submit Story"%></td>
		</tr>	
	</table>	
</div>	