
<table>
	<tr class="double">
		<th>DISPLAY NAME (to publish with story) *</th>
		<th>UPLOAD A PHOTO *</th>
	</tr>	
	<tr class="double">
		<td><%= f.text_field :name, :class => "text_field" %></td>
		<td><%= f.file_field :picture %></td>
	</tr>	
	<tr class="spacer"></tr>	
	<tr>
		<th colspan="2">
			YOUR STORY * <br/>
		It is a statement of blended celebration and sentiments, happiness and humor.<br/> Feel free to include a personal touch (favorite memory, joke, or special secret).
		</th>
	</tr>	
	<tr>
		<td colspan="2"><%= f.text_area :anecdote %></td> 
	</tr>	
</table>



<div id="customer-info">
	<table id="table-customer-info">
		<tr>
			<th colspan="2">FIRST NAME *</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :first_name, :class => "text_field" %></td>
		</tr>	
		<tr class="spacer"></tr>	
		<tr>
			<th colspan="2">LAST NAME *</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :last_name, :class => "text_field" %></td>
		</tr>	
		<tr class="spacer"></tr>	
		<tr class="spacer"></tr>	
		<tr>
			<th colspan="2">EMAIL ADDRESS *</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :email_address, :class => "text_field" %></td>
		</tr>		
		<tr id="customer-subscribe">
			<td class="notes">* Required Fields	</td> 
			<td><span class="notes-subscribe">SUBSCRIBE TO EMAIL:</span><%= f.check_box :subscribe %></td>
		</tr>	
		<tr class="spacer"></tr>	
		<tr>
			<td></td>
			<td><%= link_to "PRIVACY POLICY", "#" %></td>
		</tr>	
	</table>	
</div>	


<div id="mailing-address">
	<table id="table-mailing-address">
		<tr>
			<th colspan="2"><span class="thank-you-submit">THANK YOU</span></th>
		</tr>	
		<tr>
			<td>
				As a small token of our appreciation, each author will be presented with 
				an exclusive 30th anniversary sketch signed by Tadashi.
			</td>
		</tr>	
		<tr>
			<th colspan="2">STREET ADDRESS</th>
		</tr>	
		<tr>
			<td colspan="2"><%= f.text_field :street_address, :class => "text_field" %></td>
		</tr>		
		<tr class="spacer"></tr>	
		<tr>
			<td>CITY<span class="state">STATE</span></td>
		</tr>	
		<tr class="city-state">
			<td>
				<%= f.text_field :city, :class => "city_text_field" %>
				<%= f.text_field :state, :class => "state_text_field" %>
			</td>			
		</tr>	
		<tr class="spacer"></tr>	
		<tr>
			<td>ZIP CODE</td>
			<td></td>			
		</tr>	
		<tr>
			<td><%= f.text_field :zip, :class => "zip_text_field" %></td>
			<td></td>			
		</tr>	
		<tr class="spacer"></tr>	
		<tr class="submit-tr">
			<td><%= submit_tag "Submit Your Story", :class => "submit_story_button"%></td>
		</tr>	
	</table>	
</div>	