<style type="text/css">
	.stories {
		width:625px;
	}	
	
	ol, ul {
		list-style: none;
	}
	
	.stories ul {
		margin: 10px 0;
		float: left;
	}
	
	.stories ul .grid-story {
		float: left;
		margin: 5px;
		width: 115px;
	}
	
	.preload {
		display:none;
	}
	
</style>

<!--- preload images with javascript -->
<% @stories.each do |story| %>
	<%= image_tag story.picture.url(:thumb),  :class => "preload" %>
<% end %>

<div class="stories">
	<% @stories.each_with_index do |story, index = 1| %>
		<% true_index = index + 1 %>
		
		<% if true_index == 1%>
			<ul>
				<li class="grid-story">
					<%= render :partial => 'story', :locals => {:story => story} %>
				</li>
		<% elsif true_index == @stories.size %>
				<li class="grid-story">
					<%= render :partial => 'story', :locals => {:story => story} %>
				</li>
			</ul>
		<% elsif (true_index % 5) == 0 %>	
				<li class="grid-story">
					<%= render :partial => 'story', :locals => {:story => story} %>
				</li>
			</ul>
			<ul>
		<% else %>		
				<li class="grid-story">
					<%= render :partial => 'story', :locals => {:story => story} %>
				</li>
		<% end %>		
	<% end %>
</div>	

<script type="text/javascript">

	function gridover(image, picture_url)
	{
		image.attr.('src', '');
	}

</script>