<style type="text/css">
	.stories {
		width:625px;
	}	
	
	ol, ul {
		list-style: none;
	}
	
	.stories ul {
		margin: 10px 0;
		float: left;
	}
	
	.stories ul .grid-story {
		float: left;
		margin: 5px;
		width: 115px;
	}
</style>

<!--- preload images with javascript -->
<script type="text/javascript">
	<%= @stories.each do |story| %>
		var preloadImage = new Image();
		preloadImage.src = <%= story.picture.url(:thumb) %>;
	<% end %>
</script>

<div class="stories">
	<% @stories.each_with_index do |story, index = 1| %>
		<% true_index = index + 1 %>
		
		<% if true_index == 1%>
			<ul>
				<li class="grid-story">
					<%= link_to image_tag(story.picture_with_count.url, :title => "title", :class => "grid-image", :size => "115x115", 
						:hover_image => story.picture.url(:thumb),  :actual_image => story.picture_with_count.url,
						:onMouseOver => "$(this).attr('src', $(this).attr('hover_image'))",
						:onMouseOut => "$(this).attr('src',$(this).attr('actual_image'))"),
						 "#" %>
					<p><%= story.name %></p>
					<p><%= story.company %></p>
				</li>
		<% elsif true_index == @stories.size %>
				<li class="grid-story">
					<%= link_to image_tag(story.picture_with_count.url, :title => "title", :class => "grid-image", :size => "115x115", 
						:hover_image => story.picture.url(:thumb),  :actual_image => story.picture_with_count.url,
						:onMouseOver => "$(this).attr('src', $(this).attr('hover_image'))",
						:onMouseOut => "$(this).attr('src',$(this).attr('actual_image'))"),
						 "#" %>
					<p><%= story.name %></p>
					<p><%= story.company %></p>
				</li>
			</ul>
		<% elsif (true_index % 5) == 0 %>	
				<li class="grid-story">
					<%= link_to image_tag(story.picture_with_count.url, :title => "title", :class => "grid-image", :size => "115x115", 
						:hover_image => story.picture.url(:thumb),  :actual_image => story.picture_with_count.url,
						:onMouseOver => "$(this).attr('src', $(this).attr('hover_image'))",
						:onMouseOut => "$(this).attr('src',$(this).attr('actual_image'))"),
						 "#" %>
					<p><%= story.name %></p>
					<p><%= story.company %></p>
				</li>
			</ul>
			<ul>
		<% else %>		
				<li class="grid-story">
					<%= link_to image_tag(story.picture_with_count.url, :title => "title", :class => "grid-image", :size => "115x115", 
						:hover_image => story.picture.url(:thumb),  :actual_image => story.picture_with_count.url,
						:onMouseOver => "$(this).attr('src', $(this).attr('hover_image'))",
						:onMouseOut => "$(this).attr('src',$(this).attr('actual_image'))"),
						 "#" %>
					<p><%= story.name %></p>
					<p><%= story.company %></p>
				</li>
		<% end %>		
	<% end %>
</div>	

<script type="text/javascript">

	function gridover(image, picture_url)
	{
		image.attr.('src', '');
	}

</script>