<style type="text/css">
	
	#story-view {
		width:625px;
		margin: 40px 0;
		overflow:hidden;
	}
	
	#story-view-image {
		float:left;
		width:240px;
	}
	
	#story-view-details {
		float:right;
		width:365px;
		padding:10px;
	}
	
	.story-view-name {
		text-transform:uppercase;
		margin-bottom:20px;
	}
	
	.story-view-story {
		
	}
	
	.story-view-buttons {
		margin:10px 0;
		padding:10px;
		overflow:hidden	;
	}
	
	.back-to-link {
		float:left;
		display:block;
	}

	.submit-link {
		float:right;
		display:block;
	}
	
	#fb-comments {
		margin-top:20px;
	}
	
	#social-buttons {
		margin-top:40px;
		margin-bottom:15px;
	}
</style>

<%= render :partial => 'carousel_story', :locals => {:stories => @stories} %>


<div id="story-view">
	<div id="story-view-image">
		<%= image_tag @story.picture.url(:regular), :title => "#{@story.name}", :class => "story_image" %>
	</div>	
	<div id="story-view-details">
		<h1 class="story-view-name"><%= @story.name %></h1>
		<div class="story-view-about"><%= @story.about_me.html_safe %></div>
		<div class="story-view-story"><%= @story.anecdote.html_safe %></div>
		<!--- Add this social buttons -->
		<%= render :partial => '_add_this_buttons', :locals => {:story => @story} %>
		<div class="story-view-buttons">
			<%= link_to "BACK TO STORIES", root_path, :class => "back-to-link" %>
			<%= link_to "SUBMIT YOUR STORY", pages_submit_path, :class => "submit-link" %>
		</div>		
	</div>	
</div>

<%= render :partial => '_facebook_comments' %>

