<style type="text/css">
	
	#story-view {
		width:625px;
		margin: 40px 0;
		overflow:hidden;
	}
	
	#story-view-image {
		float:left;
		width:240px;
	}
	
	#story-view-details {
		float:right;
		width:365px;
		padding:10px;
	}
	
	.story-view-name {
		text-transform:uppercase;
		margin-bottom:20px;
	}
	
	.story-view-story {
		
	}
	
	.story-view-buttons {
		width:365px;
		margin:10px 0;
		padding:10px;
		overflow:hidden	;
	}
	
	.back-to-link {
		float:left;
		display:block;
	}

	.submit-link {
		float:right;
		display:block;
	}
	
	#fb-comments {
		margin-top:20px;
	}
	
</style>


<div id="story-view">
	<div id="story-view-image">
		<%= image_tag @story.picture.url(:regular), :title => "#{@story.name}", :class => "story_image" %>
	</div>	
	<div id="story-view-details">
		<h1 class="story-view-name"><%= @story.name %></h1>
		<div class="story-view-story"><%= @story.anecdote.html_safe %></div>
	</div>	
	<div class="story-view-buttons">
		<%= link_to "BACK TO STORIES", root_path, :class => "back-to-link" %>
		<%= link_to "SUBMIT YOUR STORY", pages_submit_path, :class => "submit-link" %>
	</div>	
</div>

<div id="fb-comments">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>	
	
	<div class="fb-comments" data-href="<%= request.url %>" data-width="625" data-num-posts="10"></div>
</div>	

