<style type="text/css">
	#submit {
		text-align:center;
		margin:40px 0;
	}

	h1.submit-title {
		font-size: 32px;
		margin:10px 0;
		color: #8d775a;
		font-family:'Didot';
	}
	
	h1.submit-title .emphasize {
		font-style:italic;
	}
	
	.sub-title {
		font-size: 14px;
		margin-bottom:20px;
	}
	
	table,tr,th,td {
		margin:10px 0;
		padding:10px 0;
		text-align:center;
	}
	
	#story_picture {
		border: 1px solid #E5E0DA;
	}
	
	#submit textarea {
		width:625px;
	}
	
	tr.tight, tr.tight th, tr.tight td {
		margin:0;
		padding:0;
	}

	tr.double, tr.double th, tr.double td {
		margin:0;
		padding:0;
		text-align:left;
	}
	
	
	tr.double input {
		width:280px;
	}
	
	tr.spacer {
		height:20px;
	}


	#customer-info {
		width:300px;
		float:left;
	}

	
	td.notes {
		font-size: 10px;
		width:50%;
	}
	
	span.notes-subscribe {
		font-size: 12px;
		width:50%;
	}
	
	#table-customer-info {
		width:100%;
	}
	
	#table-customer-info, #table-customer-info tr, #table-customer-info th, #table-customer-info td {
		padding:0;
		margin:10px 0;
		text-align:left;
	}
	
	#table-customer-info input {
		width:300px;
	}
	
	tr#customer-subscribe {
		text-align:left;
	}
	
	tr#customer-subscribe td {
		text-align:left;
	}
	
	tr#customer-subscribe input {
		width: auto;
	}
	
	/*  mailing address */
	
	#mailing-address {
		width:299px;
		float:left;
		margin-left:15px;
		padding-left:10px;
		border-left:1px solid #E5E0DA;
	}
	
	
	#table-mailing-address {
		width:100%;
	}
	
	#table-mailing-address, #table-mailing-address tr, #table-mailing-address th, #table-mailing-address td {
		padding:0;
		margin:10px 0;
		text-align:left;
	}
	
	#table-mailing-address input {
		width:300px;
	}
	
	#table-mailing-address input.city_text_field
	{
		width:190px;
	}
	
	#table-mailing-address input.state_text_field
	{
		width:100px;
	}
	
	#table-mailing-address input.zip_text_field
	{
		width:150px;
	}
	
	span.state {
		margin-left:167px;
	}
	
	#table-mailing-address input.submit_story_button {
		width:100px;
		height:21px;
		padding:0;
		margin:0;
		margin-left:190px;
		background:url('/assets/submit_idle.gif') no-repeat;
		border:none;
		text-indent:-9999px;
		cursor:pointer;		
	}
	
	#table-mailing-address input.submit_story_button:hover {
		background:url('/assets/submit_hover.gif') no-repeat;
	}
	
	input, textarea {
		background-color:#e5e0da;
		border:none;
	}
	
	.thank-you-submit {
		font-family:'Didot';
		font-size:30px;
		color:#8d775a;
		text-align:center;
	}
	
	#submit_link {
		color:#8d775a;
		border-bottom:3px solid #8d775a;
	}
	
	
	.questions {
		clear:both;
		text-align:center;
		font-size:11px;
	}
	
	.questions p {
		margin-top:5px;
	}

	.questions p a {
	}
	
	.story-description {
		font-size:11px;
	}
	
	
</style>

<%= render :partial => 'carousel_story', :locals => {:stories => @featured_stories} %>


<div id="submit">

	<h1 class="submit-title">SUBMIT <span class="emphasize">YOUR</span> STORY</h1>
	<h4 class="sub-title">We’d love to hear your memories in Tadashi Shoji. <br/>Join the celebration and share your story!</h4>


	<%= form_for(:story, :url => pages_create_path) do |f| %>
		
		<%= render 'shared/error_messages' %>
		
		<%= render :partial => "form", :locals => {:f => f} %>

	<% end %>

</div>
<div class="questions">
	<h4>Questions? – Email us at <a href="mailto:social@tadashishoji.com">social@tadashishoji.com</a></h4>
	<p><%= link_to "PRIVACY POLICY", "http://www.tadashishoji.com/pages/privacy" %></p>
</div>