<style type="text/css">
	#submitted_link {
		color:#8d775a;
		border-bottom:3px solid #8d775a;
	}
	
	#submit-message {
		text-align:center;
	}
	
	#submit-message p {
		margin-bottom:20px;
	}
	
	#submit-message p a {
		font-style:italic;
	}
</style>

<div id="submit-message">
	<p>It has been our privilege to dress you. We're honored that Tadashi Shoji has been with you to mark this special moments in your life.</p>
	<p>We'd love to hear from you! <%= link_to "Submit Your Story", pages_submit_path %></p>
</div>	
<hr/>
<div class="stories">
	<% @stories.each_with_index do |story, index = 1| %>
		<% true_index = index + 1 %>
		
		<% if true_index == 1%>
			<ul>
				<li class="grid-story">
					<%= render :partial => 'submitted_story', :locals => {:story => story} %>
				</li>
		<% elsif true_index == @stories.size %>
				<li class="grid-story">
					<%= render :partial => 'submitted_story', :locals => {:story => story} %>
				</li>
			</ul>
		<% elsif (true_index % 5) == 0 %>	
				<li class="grid-story">
					<%= render :partial => 'submitted_story', :locals => {:story => story} %>
				</li>
			</ul>
			<ul>
		<% else %>		
				<li class="grid-story">
					<%= render :partial => 'submitted_story', :locals => {:story => story} %>
				</li>
		<% end %>		
	<% end %>
</div>	
