<%= link_to 'New Story', new_story_path %>

<table>
	<tr>
		<th>Participant</th>
		<th>Original</th>		
		<th>Picture</th>
		<th>Picture with Count</th>	
		<th>Picture Black and White</th>	
		<th>About Me</th>
		<th>Anecdote</th>
		<th>Name</th>
		<th>Company</th>
		<th>E-Mail</th>
		<th>Address</th>
		<th>Featured</th>
		<th>Approved</th>
		<th>Active</th>
	</tr>	
	
	<% @stories.each do |story| %>
		<tr>
			<td><%= story.participant_number %></td>
			<td><%= image_tag story.picture.url, :title => "title", :class => "thumb" %></td>
			<td><%= image_tag story.picture.url(:thumb), :title => "title", :class => "thumb" %></td>
			<td><%= image_tag story.picture_with_count.url, :title => "title", :class => "thumb" %></td>
			<td><%= image_tag story.black_and_white.url, :title => "title", :class => "thumb" %></td>
			<td><%= story.about_me %></td>
			<td><%= story.anecdote.html_safe %></td>
			<td><%= story.name %></td>
			<td><%= story.company %></td>
			<td><%= story.email_address %></td>
			<td><%= story.mailing_address %></td>
			<td><%= story.featured %></td>
			<td><%= story.approved %></td>
			<td><%= story.active %></td>
			<td><%= link_to 'Show', story_path(story) %></td>
			<td><%= link_to 'Edit', edit_story_path(story) %></td>
			<td><%= button_to 'Destroy', story_path(story), :data => { :confirm => 'Are you sure?' }, :method => :delete  %></td>
		</tr>	
	<% end %>
</table>	