<%= link_to 'New Story', new_story_path %>

<table>
	<tr>
		<th>Participant</th>
		<th>Image</th>
		<th>About Me</th>
		<th>Anecdote</th>
		<th>Name</th>
		<th>Company</th>
		<th>E-Mail</th>
		<th>Address</th>
		<th>Approved</th>
	</tr>	
	
	<% @stories.each do |story| %>
		<tr>
			<td><%= story.participant_number %></td>
			<td><%= story.image_filename %></td>
			<td><%= story.about_me %></td>
			<td><%= story.anecdote %></td>
			<td><%= story.name %></td>
			<td><%= story.company %></td>
			<td><%= story.email_address %></td>
			<td><%= story.mailing_address %></td>
			<td><%= story.approved %></td>
			<td><%= link_to 'Show', story_path(story) %></td>
			<td><%= link_to 'Edit', edit_story_path(story) %></td>
			<td><%= button_to 'Destroy', story_path(story), :data => { :confirm => 'Are you sure?' }, :method => :delete  %></td>
		</tr>	
	<% end %>
</table>	