<%= link_to "back", stories_path %>


<p><%= @story.participant_number %></p>
<p><%= image_tag @story.picture.url(:thumb), :title => "title", :class => "thumb" %></p>
<p><%= image_tag @story.picture_with_count.url, :title => "title", :class => "thumb" %></p>
<p><%= image_tag @story.black_and_white.url, :title => "title", :class => "thumb" %></p>
<p><%= @story.about_me %></p>
<p><%= @story.anecdote %></p>
<p><%= @story.name %></p>
<p><%= @story.company %></p>
<p><%= @story.email_address %></p>
<p><%= @story.mailing_address %></p>
<p><%= @story.approved %></p>
