<style type="text/css">

	.submit:hover {
		color:#FFFFFF !important;
	}
	
</style>

<footer id="footer">
	<div class="footer-content">
		<ul id="footer-links">
			<li>
				<form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" class="clearfix" >

				    <div align="center">
					    <input type="text" name="ea" size="20" value="JOIN OUR MAILING LIST" onclick="this.value='';" style="font-size:11px; border:0px solid #ffffff; color:#777777">
					    <input type="submit" name="go" value="SUBSCRIBE" class="submit"  style="font-size:12px; background-color:#000000; color:#777777; border:none;padding-right:0">
					    <input type="hidden" name="llr" value="6mpiveeab">
					    <input type="hidden" name="m" value="1103621683206">
					    <input type="hidden" name="p" value="oi">
				  </div>
				</form>
			</li>
			<li><%= link_to "WHOLESALE", "http://catalog.tadashishoji.com", :target => 'blank' %></li>
			<li><%= link_to "PRIVACY POLICY", "#"  %></li>
		</ul>	
		<ul id="social-links">
			<li><%= link_to image_tag("twitter.png"), "http://twitter.com/TadashiShoji", :target => 'blank' %></li>
			<li><%= link_to image_tag("facebook.png"), "http://www.facebook.com/tadashishoji",  :target => 'blank'  %></li>		
			<li><%= link_to image_tag("Pintrest.png"), "http://pinterest.com/tadashishoji/", :target => 'blank' %></li>
			<li><%= link_to image_tag("Insta.png"), "http://instagram.com/tadashishoji/",  :target => 'blank'  %></li>		
		</ul>	
	</div>	
</footer>	
